body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#dataset {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

#dataset td, #dataset th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dataset tr:nth-child(even){background-color: #f2f2f2;}

#dataset tr:hover {background-color: #ddd;}

#dataset th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
} 






 img.display{
    display:block;
    /* position: relative; */
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 45px; */
  }

  img.phoneBorder{
      display: block;
      /* max-width: 400px; */
      /* padding-left: 155px; */
      margin-left: auto;
      margin-right: auto;
  }

  img.padded{
      padding-right: 35px;
  }

   
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 90%; */
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
   
  }


  
  .split__top {
    position: relative;
    margin-left: auto;
    margin-right: auto;

  }
  
  .split__bottom {
    flex: 1;
    position:relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  .hidden{
      display: none;
      visibility: hidden;
  }


  #bottomContainer, #detailsPane{
    position: relative;
    top: -40px;
    /* padding-right: 45px; */
    /* overflow: hidden; */
  }
  
  #phoneContainer{
      position: absolute;
      top: 40px;
      overflow-y: scroll;
      height: 580px;
  }

  #phoneBorder{
    width: 370px;
    height: 500px;
    border:4px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;

  }

  .reward{
    position: absolute;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    text-align: center;
    left: 260px;
    font-size: 20px;
    font-family: Serif,  Georgia, Times, 'Times New Roman', serif;


  }

  #reward1{
    position: absolute;
    bottom: 410px;
    
  }

  #reward2{
    position: absolute;
    bottom: 280px;
    /* left: 260px; */
  }


  #reward3{
    position: absolute;
    bottom: 150px;
    /* left: 260px; */
  }

  #reward4{
    position: absolute;
    bottom: 20px;
    /* left: 260px; */
  }

  #reward5{
    position: absolute;
    bottom: 470px;
    left: 860px;
  }
  
  #reward6{
    position: absolute;
    height: 35px;
    bottom: -58px;
    left: 790px;
  }
  


